body, p, a, h1, h2, h3, h4, h5, div, span {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

.inner {
  width: 90%;
  margin: 0 auto;
}

.title {
  margin-top: 3rem;
  font-weight: bold;
}

.carousel-control-prev {
  left: -3% !important;
  top: 50% !important;
  bottom: auto !important;
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 50%;
  border: 1px solid #dee2e6 !important;
  background-color: white !important;
}
.carousel-control-prev span {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.carousel-control-next {
  right: -3% !important;
  top: 50% !important;
  bottom: auto !important;
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 50%;
  border: 1px solid #dee2e6 !important;
  background-color: white !important;
}
.carousel-control-next span {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.carousel-inner img {
  display: block;
  width: 100%;
}

.carousel-item {
  height: 20rem;
}

.carousel-caption {
  color: #000;
}
.carousel-caption h5 {
  font-weight: bold;
}

header {
  height: 50vh;
  background-size: cover;
  background-image: url("../img/top_main_0322_1.jpg");
  background-position: center center;
  padding: 1rem 0;
}

.icon-wrapper {
  width: 2.5rem;
  height: 2.5rem;
}
.icon-wrapper i {
  font-size: 2rem;
}

.area-search-contents {
  display: flex;
  align-items: center;
  width: 30%;
  margin-top: 2rem;
  border: 1px solid #dee2e6;
}

.area-search-img-wrapper {
  width: 6rem;
  height: 6rem;
  overflow: hidden;
}
.area-search-img-wrapper img {
  height: 100%;
}

.area-search-content {
  font-weight: bold;
  padding-left: 1rem;
  margin: 0;
}

.region-categories {
  width: 45%;
  margin-top: 1rem;
}

.region-contents a {
  margin-right: 1rem;
}

.genre-search-content-wrapper {
  position: relative;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
}

.genre-search-content-wrapper img {
  height: 100%;
}

.genre-search-content {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.genre-search-content .genre-name {
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
}
.genre-search-content .search-result-count {
  margin: 0;
  font-weight: bold;
  font-size: 0.8rem;
}

.genres {
  margin-top: 3rem;
}
.genres a {
  color: #595960;
  border: 1px solid #e1e1e1;
  padding: 0.3em 1em;
  margin: 0 1rem 1rem 0;
}

.scene-search-content-wrapper {
  position: relative;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
}
.scene-search-content-wrapper img {
  height: 100%;
}

.scene-search-content {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.scene-search-content .scene-name {
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
}
.scene-search-content .search-result-count {
  margin: 0;
  font-weight: bold;
  font-size: 0.8rem;
}

.scenes {
  margin-top: 3rem;
}
.scenes a {
  color: #595960;
  border: 1px solid #e1e1e1;
  padding: 0.3em 1em;
  margin: 0 1rem 1rem 0;
}

.detail-condition-search-content-wrapper {
  position: relative;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
}
.detail-condition-search-content-wrapper img {
  height: 100%;
}

.detail-condition-search-content {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.detail-condition-search-content .detail-condition-name {
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
}
.detail-condition-search-content .search-result-count {
  margin: 0;
  font-weight: bold;
  font-size: 0.8rem;
}

.detail-conditions {
  margin-top: 3rem;
}
.detail-conditions a {
  color: #595960;
  border: 1px solid #e1e1e1;
  padding: 0.3em 1em;
  margin: 0 1rem 1rem 0;
}

.article {
  width: 18%;
  border: 1px solid #e1e1e1;
}
.article p {
  height: 10rem;
}

.article-img-wrapper {
  height: 10rem;
}/*# sourceMappingURL=main.css.map */