.area-search-contents {
    display: flex;
    align-items: center;
    width: 30%;
    margin-top: 2rem;
    border: 1px solid $carouselBorderColor;
}

.area-search-img-wrapper {
    width: 6rem;
    height: 6rem;
    overflow: hidden;

    img {
        height: 100%;
    }
}

.area-search-content {
    font-weight: bold;
    padding-left: 1rem;
    margin: 0;
}

.region-categories {
    width: 45%;
    margin-top: 1rem;
}

.region-contents a {
    margin-right: 1rem;
}
